.header {
  padding-top: 24px;
  padding-bottom: 24px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.933);
  width: 100%;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list1 {
  display: flex;
  gap: 50px;
}

.header-list2 {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  margin-right: 93px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: #000000;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover {
  color: #000000;
}

.logo:hover {
  color: #2196F3;
}

.header-logo:hover .logo {
  color: #2196F3;
}

.header-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.kontakt-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196F3;
}

.bottom-line::after {
  display: block;
  content: "";
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: relative;
  top: 28px;
  right: 2px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-line1::after {
  opacity: 1;
  width: 0px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-line1:hover::after {
  opacity: 1;
  width: 46px;
}

.bottom-line2::after {
  opacity: 1;
  width: 0px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-line2:hover::after {
  opacity: 1;
  width: 70px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196F3;
}

.header-post-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post-icon:hover,
.header-phone-icon:focus {
  width: 16px;
  height: 12px;
  fill: #2196F3;
}

.header-post {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post:hover,
.header-post:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  display: flex;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-phone-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-phone-icon:hover,
.header-phone-icon:focus {
  width: 10px;
  height: 16px;
  fill: #2196F3;
}

.header-telephone:hover,
.header-telephone:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196F3;
}

.header-post:hover .header-post-icon {
  fill: #2196F3;
}

.header-telephone:focus .header-phone-icon {
  fill: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post:focus .header-post-icon {
  fill: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-telephone:hover .header-phone-icon {
  fill: #2196F3;
}

.main {
  padding-top: 250px;
  padding-bottom: 300px;
  background-image: radial-gradient(red, aqua);
  height: 600px;
}

.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer {
  background: #2F303A;
  left: 0px;
  top: 2094px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-contacts {
  padding-top: 12px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
}

.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.footer-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.footer-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.footer-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-item-icons {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-icons:hover {
  background-color: #2196F3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.subscribe {
  padding-top: 12px;
}

.subscribe-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  margin-right: 12px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border: 1px solid #2196F3;
}

input.subscribe-input::-moz-placeholder {
  display: flex;
  width: 47px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

input.subscribe-input::placeholder {
  display: flex;
  width: 47px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 28px;
  padding-right: 62px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: #2196F3;
  background: #212121;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  position: relative;
  right: 57px;
  top: 7px;
}

.subscribe-icon:hover .subscribe-button {
  fill: #212121;
}

.subscribe-icon:focus .subscribe-button {
  fill: #212121;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=kontakt.css.map */