.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.388);
  z-index: 4;
  opacity: 4;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
  overflow: hidden;
}

.modal-window {
  margin-left: auto;
  margin-right: auto;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-top: 8px;
  padding-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.close-link-box {
  padding-left: 490px;
  margin-bottom: 2px;
}

.form {
  padding-left: 40px;
  padding-right: 40px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFF;
  outline-width: 1px;
  outline: solid rgba(0, 0, 0, 0.1);
  padding: 6px;
}

.close-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  width: 18px;
  height: 18px;
  fill: #2196F3;
}

.close-icon:focus {
  width: 18px;
  height: 18px;
  fill: #2196F3;
}

.circle:hover .close-icon {
  fill: #2196F3;
}

.circle:focus .close-icon {
  fill: #2196F3;
}

.form-title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.name-input {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.telephone-input {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.post-input {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.modal-comment {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-name {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-telephone {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-post {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.comment-input {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px 94px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:hover,
.comment-input:focus {
  border: 1px solid #2196F3;
}

input.comment-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

input.comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-comment {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 29px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 29px;
  left: 12px;
  fill: #2196F3;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding-left: 41px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-input:hover + .modal-link {
  fill: #2196F3;
}

.modal-input:focus + .modal-link {
  fill: #2196F3;
}

.modal-input:checked + .modal-link {
  fill: #2196F3;
}

.conditions-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.confirm-link {
  width: 16px;
  height: 15px;
  fill: #212121;
}

.confirm-link:hover,
.confirm-link:focus {
  fill: #2196F3;
  stroke: #FFF;
}

.conditions-text {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 7px;
}

.conditions-link {
  color: #2196F3;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  padding-left: 2px;
}

.modal-button {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 52px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  color: #2196F3;
  background-color: #212121;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=modal.css.map */