.footer {
    @extend %footer-position;
    background: $seventh-color;

    &__container {
        display: flex;
        gap: 70px;
    }

    &__logo {
        font-family: $second-font;
        @include text-color-styles(700, 26px, 1.19);
    }

    &__logo2 {
        font-family: $second-font;
        @include text-color-styles($fifth-color, 700, 26px, 1.19);
    }

    &__address {
        margin-top: 20px;
        @include text-color-styles($fifth-color, 400, 1.71);
    }

    &__item {
        margin-top: 9px;

        &-icons {
            padding: 12px;
            @include size ();
            background-color: rgba(255, 255, 255, 0.10);
            border-radius: 50%;
            @extend %third-transition;

            &:hover {
                background-color: $second-color;
            }

            &:focus {
                background-color: $second-color;
                @extend %third-transition;
            }
        }
    }

    &__post {
        @include text-color-styles($fifth-color, 400, 1.71);
    }

    &__telephone {
        @include text-color-styles($fifth-color, 1.71);
    }

    &__contacts {
        padding-top: 12px;
    }

    &__title {
        margin-bottom: 20px;
        @include text-color-styles($fifth-color, 700, normal);
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__icons {
        display: flex;
        gap: 10px;
    }

    &__icon {
        @include size (20px, 20px);
        fill: $fifth-color;
    }

    .subscribe {
        padding-top: 12px;

        &-title {
            margin-bottom: 20px;
            @include text-color-styles($fifth-color, 700, normal);
            letter-spacing: 0.42px;
            text-transform: uppercase;
        }

        &-input {
            @extend %footer-input-position;
            @include size (358px, 50px);
            @include BBB (rgba(33, 150, 243, 0.00), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 4px);
            border: 1px solid rgba(255, 255, 255, 0.30);
            @extend %fifth-transition;

            &:hover {
                border: 1px solid $second-color;
            }

            &:focus {
                border: 1px solid $second-color;
                @extend %fifth-transition;
            }
        }

        input.subscribe-input::placeholder {
            @extend %footer-inputP-position;
            @include size (47px, 20px);
            @include text-color-styles(rgba(255, 255, 255, 0.60), 400, 16px, 1.25);
            letter-spacing: 0.48px;
        }

        &-button {
            @extend %footer-button-position;
            @include size (200px, 50px);
            @include text-color-styles($fifth-color, 700, 16px, 1.87);
            letter-spacing: 0.96px;
            @include BBB ($second-color, 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 4px);
            @extend %first-transition;

            &:hover {
                color: $second-color;
                background: $main-color;
            }

            &:focus {
                color: $second-color;
                background: $main-color;
                @extend %first-transition;
            }
        }

        &-icon {
            position: relative;
            right: 57px;
            top: 7px;
            @include size (24px, 24px);

            &:hover .subscribe-button {
                fill: $main-color;
            }

            &:focus .subscribe-button {
                fill: $main-color;
                @extend %first-transition;
            }
        }
    }
}