.header {
    @extend %header-position;
    @include size (100%, 80px);
    background: rgba(255, 255, 255, 0.933);

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 93px;
        font-family: $second-font;
        @include text-color-styles($second-color, 700, 26px, 1.19);
        @extend %second-transition;
    
        &:hover {
            color: $third-color;
        }

        &:hover .header__logo2 {
            color: $second-color;
        }
    }

    &__logo2 {
        font-family: $second-font;
        @include text-color-styles($third-color, 700, 26px, 1.38);
        @extend %second-transition;
    
        &:hover {
            color: $second-color;
        }

        &:focus {
            color: $second-color;
        }

    }

    &__list1 {
        display: flex;
        gap: 50px;
    }

    &__list2 {
        display: flex;
        margin-left: auto;
        gap: 50px;
    }

    .kontakt-link {
        @include text-color-styles();
    }

    .bottom-line::after {
        @extend %bottom-line;
        @include size(64px, 4px);
        border-radius: 2px;
        background-color: $second-color;
        @extend %seventh-transition;
    }

    .bottom-line1::after {
        opacity: 1;
        width: 0px;
        @extend %seventh-transition;
    }

    .bottom-line1:hover::after {
        opacity: 1;
        width: 46px;
    }

    .bottom-line2::after {
        opacity: 1;
        width: 0px;
        @extend %seventh-transition;
    }

    .bottom-line2:hover::after {
        opacity: 1;
        width: 70px;
    }

    &__link {
        align-items: center;
        @include text-color-styles($main-color);
        @extend %second-transition;
    
        &:hover,
        &:focus {
            @include text-color-styles();
        }
    }

    &__post {
        @extend %header-post-position;
        @include text-color-styles($sixth-color);
        @extend %second-transition;

        &:hover,
        &:focus {
            @include text-color-styles();
        }

        &:hover .header__post-icon {
            fill: $second-color;
        }

        &:focus .header__post-icon {
            fill: $second-color;
            @extend %second-transition;
        }

        &-icon {
            margin-right: 8px;
            @include size(16px, 12px);
            fill: $sixth-color;
            @extend %fourth-transition;

            &:hover,
            &:focus {
                fill: $second-color;
            }
        }
    }

    &__phone {
        display: flex;
        justify-content: center;
        @include text-color-styles($sixth-color);
        @extend %second-transition;

        &-icon {
            @include size(10px, 16px);
            margin-right: 8px;
            fill: $sixth-color;
            @extend %fourth-transition;

            &:hover {
                fill: $second-color;
            }

            &:focus {
                fill: $second-color;
                @extend %fourth-transition;
            }
        }

        &:hover {
            @include text-color-styles();
        }

        &:focus {
            @include text-color-styles();
            @extend %second-transition;
        }

        &:hover .header__phone-icon {
            fill: $second-color;
        }

        &:focus .header__phone-icon {
            fill: $second-color;
        }
    }
}

