.main {
    padding-top: 250px;
    padding-bottom: 300px;
    height: 600px;
    background-image: radial-gradient(red, aqua);

    &__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 696px;
        @include text-styles(900, 44px, 1.36);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}