    $main-color: #212121;
    $second-color: #2196F3;
    $third-color: #000000;
    $fourth-color: #AFB1B8;
    $fifth-color: #FFFFFF;
    $sixth-color: #757575;
    $seventh-color: #2F303A;
    $eighth-color: #F5F4FA;

    $main-font: 'Roboto';
    $second-font: 'Raleway';

    


