.footer {
    background: #2F303A;
    left: 0px;
    top: 2094px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    gap: 70px;
}

.footer-contacts {
    padding-top: 12px;
}

.footer-logo {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.logo2 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-item {
    margin-top: 9px;
}

.footer-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.footer-telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.footer-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase; 
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-item-icons {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);  
    border-radius: 50%;
    padding: 12px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-icons:hover {
    background-color: #2196F3;  
}

.footer-item-icons:focus {
    background-color: #2196F3;  

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: white;
}

.subscribe {
    padding-top: 12px;
}

.subscribe-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscribe-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    margin-right: 12px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover {
    border: 1px solid #2196F3;
}

.subscribe-input:focus {
    border: 1px solid #2196F3;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input.subscribe-input::placeholder {
    display: flex;
    width: 47px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
}

.subscribe-button {
    width: 200px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; 
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 28px;
    padding-right: 62px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
    color: #2196F3;
    background: #212121;
}

.subscribe-button:focus {
    color: #2196F3;
    background: #212121;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    position: relative;
    right: 57px;
    top: 7px;
}

.subscribe-icon:hover .subscribe-button {
    fill: #212121;
}

.subscribe-icon:focus .subscribe-button {
    fill: #212121;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}