.header {
    padding-top: 24px;
    padding-bottom: 24px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.933);
    width: 100%;
    z-index: 4;

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #2196F3;
        margin-right: 93px;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            color: #000000;
        }
    
        &:focus {
            color: #000000;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .header__logo2 {
            color: #2196F3;
        }

        &:focus .header__logo2 {
            color: #2196F3;

            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__logo2 {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.38;
        color: #000000;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            color: #2196F3;
        }
    
        &:focus {
            color: #2196F3;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__list1 {
        display: flex;
        gap: 50px;
        width: 286px;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #212121;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;
        }
    
        &:focus {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .portfolio-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #2196F3;
        width: 60px;
    }

    .kontakt-link {
        color: #212121;
    }

    .bottom-line::after {
        display: block;
        content: '';
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
        position: relative;
        top: 28px;
        right: 2px;

        transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bottom-line1::after {
        opacity: 1;
        width: 0px;

        transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bottom-line1:hover::after {
        opacity: 1;
        width: 44px;
    }

    .bottom-line1:focus::after {
        opacity: 1;
        width: 44px;

        transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bottom-line2::after {
        background-color: #2196F3;
        width: 70px;
    }

    .bottom-line3::after {
        opacity: 1;
        width: 0px;

        transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bottom-line3:hover::after {
        opacity: 1;
        width: 67px;
    }

    .bottom-line3:focus::after {
        opacity: 1;
        width: 67px;

        transition-property: width;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__list2 {
        display: flex;
        gap: 50px;
        margin-left: auto;
    }

    &__post {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #757575;
        text-align: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;
        }
    
        &:focus {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .header__post-icon {
            fill: #2196F3;
        }

        &:focus .header__post-icon {
            fill: #2196F3;
        }

        &-icon {
            width: 16px;
            height: 12px;
            fill: #757575;
            margin-right: 8px;

            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                width: 16px;
                height: 12px;
                fill: #2196F3;
            }

            &:focus {
                width: 16px;
                height: 12px;
                fill: #2196F3;

                transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

        }

    }

    &__phone {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #757575;
        display: flex;
        justify-content: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &-icon {
            width: 10px;
            height: 16px;
            fill: #757575;
            margin-right: 8px;
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover {
                width: 10px;
                height: 16px;
                fill: #2196F3;
            }
    
            &:focus {
                width: 10px;
                height: 16px;
                fill: #2196F3;
    
                transition-property: fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

        }

        &:hover {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;
        }

        &:focus {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: #2196F3;

            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .header__phone-icon {
            fill: #2196F3;
        }

        &:focus .header__phone-icon {
            fill: #2196F3;
        }

    }

    &__line {
        margin-top: 20px;
        height: 1px;
        background-color: rgba(236, 236, 236, 1);
        border: none;
    }
}

