.header {
    width: 100%;
    @extend %header-position;
    background: rgba(255, 255, 255, 0.933);
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
        height: 80px;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__logo {
        font-family: $second-font;
        padding-top: 6px;
        @include text-color-styles($second-color, 700, 24px, 1.19);
        @extend %second-transition;
    
        @media screen and (min-width: 768px) {
            margin-right: 88px;
            width: 134px;
            padding-top: 0;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
            font-size: 26px;
        }
    
        &:hover {
            color: $third-color;
        }
    
        &:focus {
            color: $third-color;
            @extend %second-transition;
        }

        &:hover .header__logo2 {
            color: $second-color;
        }

        &:focus .header__logo2 {
            color: $second-color;
            @extend %second-transition;
        }
    }

    &__logo2 {
        font-family: $second-font;
        @include text-color-styles($third-color, 700, 24px, 1.38);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            width: 134px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 26px;
        }
    
        &:hover {
            color: $second-color;
        }
    
        &:focus {
            color: $second-color;
            @extend %second-transition;
        }
    }

    &__menu {
        display: block;
        content: '';
        @include size(40px, 40px);
        margin-left: auto;

        &:hover {
            fill: $second-color;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__menu-icon {
        display: block;
        @include size(100%, 100%);
        fill: black;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__list1 {
        display: none;
    
        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 190px;
        }
    }

    &__link {
        @include text-color-styles($main-color);
        @extend %second-transition;

        &:hover {
            @include text-color-styles($second-color);
        }

        &:focus {
            @include text-color-styles($second-color);
            @extend %second-transition;
        }
    }

    .portfolio-link {
        @include text-color-styles();
    }

    .bottom-line::after {
        @extend %bottom-line;
        @include size (100%, 4px);
        border-radius: 2px;
        background-color: $second-color;
        @extend %seventh-transition;

        @media screen and (min-width: 768px) {
            position: relative;
            top: 25px;
        }
    
        @media screen and (min-width: 1200px) {
            position: relative;
            top: 28px;
        }
    }

    .bottom-line1::after {
        @include opacity-width(1, 0px);
        @extend %seventh-transition;
    }

    .bottom-line1:hover::after {
        @include opacity-width(1, 100%);
    }

    .bottom-line1:focus::after {
        @include opacity-width(1, 100%);
        @extend %seventh-transition;
    }

    .bottom-line2::after {
        @include opacity-width(1, 100%);
        background-color: $second-color;
    }

    .bottom-line3::after {
        @include opacity-width(1, 0px);
        @extend %seventh-transition;
    }

    .bottom-line3:hover::after {
        @include opacity-width(1, 100%);
    }

    .bottom-line3:focus::after {
        @include opacity-width(1, 100%);
        @extend %seventh-transition;
    }

    &__list2 {
        display: none;
    
        @media screen and (min-width: 768px) {
            flex-direction: column;
            gap: 12px;
            margin-right: 15px;
            margin-left: 96px;
            display: flex;
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 30px;
        }
    }

    &__post {
        @extend %header-post-position;
        @include text-color-styles($sixth-color);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    
        &:hover {
            @include text-color-styles();

            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }
    
        &:focus {
            @include text-color-styles();
            @extend %second-transition;

            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }

        &:hover .header__post-icon {
            fill: $second-color;
        }

        &:focus .header__post-icon {
            fill: $second-color;
        }

        &-icon {
            margin-right: 8px;
            @include size (16px, 12px);
            fill: $sixth-color;
            @extend %fourth-transition;

            &:hover {
                fill: $second-color;
            }
        }
    }

    &__phone {
        display: flex;
        @include text-color-styles($sixth-color, 500, 14px, 1.14);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
    
        @media screen and (min-width: 1200px) {
            justify-content: center;
            font-size: 14px;
        }

        &:hover {
            @include text-color-styles();

            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }

        &:focus {
            @include text-color-styles();
            @extend %second-transition;

            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }

        &:hover &-icon {
            fill: $second-color;
        }

        &:focus &-icon {
            fill: $second-color;
            @extend %second-transition;
        }
    }

    &__phone-icon {
        margin-right: 8px;
        @include size (10px, 16px);
        fill: $sixth-color;
        @extend %fourth-transition;

        &__phone-icon:hover {
            @include size (10px, 16px);
            fill: $second-color;
        }

        &__phone-icon:focus {
            @include size (10px, 16px);
            fill: $second-color;
            @extend %fourth-transition;
        }
    }

    &__line {
        @extend %header-line-styles;
    
        @media screen and (min-width:768px) {
            margin-top: 14px;
        }
    
        @media screen and (min-width:1200px) {
            margin-top: 20px;
        }
    }
}

