.projects {
    padding-bottom: 60px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
    }

    &__item {
        padding-bottom: 20px;
        @include size (100%, 370px);
        border: 1px solid $ninth-color;
        overflow: hidden;

        @media screen and (min-width: 480px) {
            width: 450px;
            height: 404px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
        }

        &:hover {
            position: relative;
            left: 0;
            top: 0;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }
    
        &:hover .projects__overlay {
            position: absolute;
            opacity: 1;
            overflow: hidden;
            transition-duration: 250ms;
            transform: translateY(0%);
        }
    }

    &__item:nth-child(9) {
        @media screen and (min-width: 768px) {
            margin-right: auto;
        }
    }

    &__box {
        overflow: hidden;
        transform: translateY(0%);
    }

    &__link {
        @include size (370px, 404px);
    }

    &__overlay {
        @extend %overlay-position;
        transition-duration: 250ms;
        transform: translateY(100%);
    }

    &__text {
        width: 290px;
        height: 294px;
        padding: 20px 10px;
        @include text-color-styles($fifth-color, 400, 18px, 1.55);
        letter-spacing: 0.54px;
        background: rgba(33, 150, 243, 0.90);

        @media screen and (min-width: 480px) {
            width: 450px;
            padding: 77px 30px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            padding: 49px 24px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
            padding: 63px 24px;
        }
    }

    &__title {
        margin: 20px 24px 4px 24px;
        @include text-color-styles($main-color, 700, 18px, 2);
    }

    &__type {
        margin-left: 24px;
        margin-right: 24px;
        @include text-color-styles($sixth-color, 400, 16px, 1.87);
    }

    &__photo {
        width: 100%;
        height: auto;

        @media screen and (min-width: 480px) {
            height: 294px;
        }
    }
}


