.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.388);
    z-index: 4;
    opacity: 4;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)  250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
   
.backdrop.is-hidden {
    transform: translate(-50%, -50%) scale(0);
}
   

.no-scroll {
    overflow: hidden;
}
   

.modal {
    margin-left: auto;
    margin-right: auto;
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-top: 8px;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)  250ms;

    &__close-link-box {
        padding-left: 490px;
        margin-bottom: 2px;
    }
    
    &__circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFF;
        outline-width: 1px;
        outline: solid rgba(0, 0, 0, 0.10);
        padding: 6px;

        &:hover .close-icon {
            fill: #2196F3;
        }
        
        &:focus .close-icon {
            fill: #2196F3;
        }
    }
    
    &__close-icon {
        width: 18px;
        height: 18px;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            width: 18px;
            height: 18px;
            fill: #2196F3;
        }
        
        &:focus {
            width: 18px;
            height: 18px;
            fill: #2196F3;
        }
    }

    &__form {
        padding-left: 40px;
        padding-right: 40px;

        &-text {
            color: #212121;
            text-align: center;
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.6px;
            margin-bottom: 12px;
        }
        
        &-name {
            display: flex;
            flex-direction: column;
            margin-bottom: -10px;
        }
        
        &-telephone {
            display: flex;
            flex-direction: column;
            margin-bottom: -10px;
        }
        
        &-post {
            display: flex;
            flex-direction: column;
            margin-bottom: -10px;
        }
        
        &-comment {
            display: flex;
            flex-direction: column;

            &-title {
                color: #757575;
                font-family: 'Roboto';
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.12px;
                margin-bottom: 4px;
            }

            &-input {
                width: 448px;
                height: 120px;
                border-radius: 4px;
                border: 1px solid rgba(33, 33, 33, 0.20);
                padding: 12px 16px 94px 16px;
                outline: none;
            
                transition-property: border;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
                &:hover,
                &:focus,
                &:active {
                    border: 1px solid #2196F3;
                }

                input.modal__form-comment-input::placeholder {
                    color: rgba(117, 117, 117, 0.50);
                    font-family: 'Roboto';
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                }

            }
            
        }
        
        &-name {
            color: #757575;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.12px;
            margin-bottom: 4px;
        }
        
        &-telephone {
            color: #757575;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.12px;
            margin-bottom: 4px;
        }
        
        &-post {
            color: #757575;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.12px;
            margin-bottom: 4px;
        }
        
        &-icon {
            width: 18px;
            height: 18px;
            position: relative;
            bottom: 29px;
            left: 12px;
        
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                width: 18px;
                height: 18px;
                position: relative;
                bottom: 29px;
                left: 12px;
                fill: #2196F3;
            }

        }
        
        &-input {
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.20);
            width: 448px;
            height: 40px;
            padding-left: 41px;
            outline: none;
        
            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                border: 1px solid #2196F3;
            }
            
            &:hover + .modal__form-link {
                fill: #2196F3;
            }
            
            &:focus + .modal__form-link {
                fill: #2196F3;
            }
            
            &:checked + .modal__form-link {
                fill: #2196F3;
            }

        }
        
    }
    
    &__conditions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        &-checkbox {
            width: 16px;
            height: 15px;
            fill: #212121;

            &:hover,
            &:focus {
                fill: #2196F3;
                stroke: #FFF;
            }
        }
        
        &-text {
            color: #757575;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: 0.42px;
            margin-left: 7px;
        }
        
        &-link {
            color: #2196F3;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: 0.42px;
            text-decoration-line: underline;
            padding-left: 2px;
        }
    }
    
    &__button {
        color: #FFF;
        text-align: center;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background-color: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin-right: 52px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            color: #2196F3;
            background-color: #212121;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

    }
    
}

