.menu.is-hidden {
    transition-duration: 1000ms;
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: $fifth-color;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 48px;
    display: block;

    transition-duration: 1000ms;
    transform: translateY(0);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__button {
        @include size (40px, 40px);
        background-color: #FFFFFF;
        display: flex;
        margin-left: auto;
    }

    &__button-icon {
        @include size (40px, 40px);
        @extend %fourth-transition;
    
        &:hover {
            fill: $second-color;
        }
    
        &:focus {
            fill: $second-color;
        }
    }

    &__list1 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow: auto;
        height: 60vh;
    }

    &__list2 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: auto;
    }

    &__link {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.17;
        color: $main-color;
    }

    &__link:hover {
        color: $second-color;
    }

    &__phone {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.17;
        color: $second-color;
    }

    &__post {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        color: $sixth-color;
    }

    &__contacts {
        display: flex;
        margin-top: 64px;

        &-item {
            display: flex;
        }

        &-link {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.22;
            color: $second-color;
            margin-left: 10px;
        }

        &-link1 {
            margin-left: 0;
        }

        &-line {
            display: block;
            content: ' ';
            width: 1px;
            height: 22px;
            background-color: gray;
            margin-left: 10px;
        }
    }
}

