.about-us {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;

        @media screen and (min-width: 320px) {
            flex-direction: column;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
    
    &__item::before {
        display: block;
        content: '';
        @include size (270px, 120px);
        background-color: $eighth-color;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__item:nth-child(1)::before {
        background-image: url(../img/antenna.png);
        background-size: 70px;
    }
    
    &__item:nth-child(2)::before {
        background-image: url(../img/clock.png);
        background-size: 70px;
    }
    
    &__item:nth-child(3)::before {
        background-image: url(../img/diagram.png);
        background-size: 70px;
    }
    
    &__item:nth-child(4)::before {
        background-image: url(../img/astronaut.png);
        background-size: 70px;
    }
    
    &__title {
        margin-bottom: 10px;
        margin-top: 30px;
        @include text-color-styles($main-color, 700, 14px, normal);
    }
    
    &__text {
        @include text-color-styles($sixth-color, 400, 14px, 1.71);
        letter-spacing: 0.42px;
    }
}

