.footer {
    @extend %footer-position;
    background: $seventh-color;
    height: 608px;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        height: 463px;
    }

    @media screen and (min-width: 1200px) {
        height: 252px;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            gap: 93px;
            margin-right: auto;
            margin-left: auto;
            justify-content: center;
            flex-direction: row;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 165px;
            justify-content: center;
            margin-bottom: 66px;
        }

        @media screen and (min-width: 1200px) {
            gap: 70px;
            width: 507px;
        }
    }

    &__info { 
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
    
    &__logo {  
        font-family: $second-font;
        @include text-color-styles($second-color, 700, 26px, 1.19);
    }
    
    &__logo2 {   
        font-family: $second-font;
        @include text-color-styles($fifth-color, 700, 26px, 1.19);
    }
    
    &__address {
        margin-top: 20px;
        @include text-color-styles($fifth-color, 400, 1.71);
        font-style: normal;
        width: 230px;
    }
    
    &__item {
        margin-top: 9px;

        &-icons {
            padding: 12px;
            @include size ();
            background-color: rgba(255, 255, 255, 0.10);  
            border-radius: 50%;
            @extend %third-transition;
        
            &:hover {
                background-color: $second-color;  
            }
            
            &:focus {
                background-color: $second-color;  
                @extend %third-transition;
            }
        }
    }

    &__contacts {
        text-align: center;
        align-items: center;
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
    
    &__post {
        @include text-color-styles($sixth-color, 400, 1.71);
    }
    
    &__telephone {
        @include text-color-styles($sixth-color, 1.71);

    }

    &__contacts {
        padding-top: 12px;
    }
    
    &__title {
        margin-bottom: 20px;
        @include text-color-styles($fifth-color, 700, normal);
        letter-spacing: 0.42px;
        text-transform: uppercase; 
    }
    
    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    &__icon {
        @include size (20px, 20px);
        fill: $fifth-color;
    }
    
    .subscribe {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 290px;

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 12px;
            width: 580px;
            height: 56px;
            margin-right: auto;
        }

        &-title {
            margin-bottom: 20px;
            @include text-color-styles($fifth-color, 700, 14px);
            letter-spacing: 0.42px;
            text-transform: uppercase;

            @media screen and (min-width: 1200px) {
                text-align: left;
            }
        }

        &-box {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1200px) {
                flex-direction: row;
            }
        }
        
        &-input {
            @extend %footer-input-position;
            @include size (290px, 50px);
            @include BBB(rgba(33, 150, 243, 0.00), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 4px);
            border: 1px solid rgba(255, 255, 255, 0.30);
            @extend %fifth-transition;
            margin-bottom: 20px;

            @media screen and (min-width: 480px) {
                width: 450px;
            }

            @media screen and (min-width: 1200px) {
                width: 358px;
            }
        
            &:hover {
                border: 1px solid $second-color;
            }
            
            &:focus {
                border: 1px solid $second-color;
                @extend %fifth-transition;
            }
        }
        
        input.subscribe-input::placeholder {
            @extend %footer-inputP-position;
            @include size (47px, 20px);
            @include text-color-styles(rgba(255, 255, 255, 0.60), 400, 16px, 1.25);
            letter-spacing: 0.48px;
        }

        &-button {
            @extend %footer-button-position;
            @include size (200px, 50px);
            @include text-color-styles($fifth-color, 700, 16px, 1.87);
            letter-spacing: 0.96px;
            @include BBB($second-color, 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 4px);
            @extend %first-transition;
            margin-left: auto;
            margin-right: auto;

            @media screen and (min-width: 768px) {
                margin-left: 125px;
                margin-right: 125px;
            }

            @media screen and (min-width: 1200px) {
                margin-left: auto;
                margin-right: auto;
            }
        
            &:hover {
                color: $second-color;
                background: $main-color;
            }
            
            &:focus {
                color: $second-color;
                background: $main-color;
                @extend %first-transition;
            }
        }

        &-icon {
            position: relative;
            left: 58px;
            top: -35px;
            @include size (24px, 24px);

            @media screen and (min-width: 1200px) {
                left: -50px;
                top: 14px;
            }

            .subscribe-icon:hover .subscribe-button {
                fill: $main-color;
            }
            
            &:focus .subscribe-button {
                fill: $main-color;
                @extend %first-transition;
            }
        }
    }
}

