.header {
    @extend %header-position;
    @include size (100%, 80px);
    background: rgba(255, 255, 255, 0.933);

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {   
        margin-right: 93px;
        font-family: $second-font;
        @include text-color-styles($second-color, 700, 26px, 1.19);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            margin-right: 88px;
            width: 134px;
        }
    
        &:hover {   
            color: $third-color;
        }

        &:focus {
            color: $third-color;
            @extend %second-transition;
        }

        &logo:hover .logo {
            color: $second-color;
        }

        &logo:focus .logo {
            color: $second-color;
            @extend %second-transition;
        }
    }   

    &__logo2 {
        font-family: $second-font;
        @include text-color-styles($third-color, 700, 26px, 1.38);
        @extend %second-transition;
    
        &:hover {
            color: $second-color;
        }

        &:focus {
            color: $second-color;
            @extend %second-transition;
        }
    }

    &__menu {
        display: none;
        content: '';
        @include size(40px, 40px);
        margin-left: auto;

        @media screen and (min-width: 320px) {
            display: block;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__menu-icon {
        @include size(100%, 100%);
        fill: black;

        @media screen and (min-width: 320px) {
            display: block;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__list1 {
        display: none;
        gap: 50px;

        @media screen and (min-width: 320px) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            margin-right: auto;
        }
    }

    &__link {
        @include text-color-styles($main-color);
        @extend %second-transition;

        &:hover {
            @include text-color-styles($second-color);
        }

        &:focus {
            @include text-color-styles($second-color);
            @extend %second-transition;
        }
    }

    .studio-link {
        @include text-color-styles();
    }

    .kontakt-link {
        color: $main-color;
    }

    .kontakt-link:hover {
        color: $second-color;
    }

    .bottom-line::after {
        @extend %bottom-line;
        @include size (48px, 4px);
        border-radius: 2px;
        background-color: $second-color;
        @extend %seventh-transition;
    }

    .bottom-line2::after {
        @include opacity-width(1, 0px);
        @extend %seventh-transition;
    }

    .bottom-line2:hover::after {
        @include opacity-width(1, 70px);
    }

    .bottom-line2:focus::after {
        @include opacity-width(1, 70px);
        @extend %seventh-transition;
    }

    .bottom-line3::after {
        @include opacity-width(1, 0px);
        @extend %seventh-transition;
    }

    .bottom-line3:hover::after {
        @include opacity-width(1, 66px);
    }

    .bottom-line3:focus::after {
        @include opacity-width(1, 66px);
        @extend %seventh-transition;
    }

    &__list2 {
        @extend %header-list2-position;

        @media screen and (min-width: 320px) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            flex-direction: column;
            gap: 12px;
            margin-right: 15px;
            margin-left: 96px;
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 30px;
            margin-left: auto;
        }
    }

    &__post {
        @extend %header-post-position;
        @include text-color-styles($sixth-color);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    
        &:hover {
            @include text-color-styles();
        }
    
        &:focus {
            @include text-color-styles();
            @extend %second-transition;
        }

        &:hover &-icon {
            fill: $second-color;
        }
    
        &:focus &-icon {
            fill: $second-color;
            @extend %second-transition;
        }
    }

    &__post-icon {
        margin-right: 8px;
        @include size (16px, 12px);
        fill: $sixth-color;
        @extend %fourth-transition;
    
        &:hover {
            fill: $second-color;
        }
    }

    &__phone {
        display: flex;
        @include text-color-styles($sixth-color);
        @extend %second-transition;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }

        @media screen and (min-width:1200px) {
            justify-content: center;
            font-size: 14px;
        }
    
        &:hover {
            @include text-color-styles();
        }
    
        &:focus {
            @include text-color-styles();
            @extend %second-transition;
        }

        &:hover &-icon {
            fill: $second-color;
        }
    
        &:focus &-icon {
            fill: $second-color;
            @extend %second-transition;
        }
    }

    &__phone-icon {
        margin-right: 8px;
        @include size (10px, 16px);
        fill: $sixth-color;
        @extend %fourth-transition;

        &__phone-icon:hover {
            @include size (10px, 16px);
            fill: $second-color;
        }

        &__phone-icon:focus {
            @include size (16px, 12px);
            fill: $second-color;
            @extend %fourth-transition;
        }
    }

    &__line {
        @extend %header-line-styles;
    } 
}