.most-clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include text-color-styles($main-color, 700, 36px, 1.17);
    }
    
    &__list {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }
    
    &__item {
        @include size (170px, 92px);
        border: 1px solid $fourth-color;
        border-radius: 4px;
        @extend %fifth-transition;

        &:hover {
            @include size (170px, 92px);
            border: 1px solid $second-color;
            border-radius: 4px;
        }
        
        &:focus .most-clients__link {
            @include size (170px, 92px);
            border: 1px solid $second-color;
            border-radius: 4px;
            @extend %fifth-transition;
        }

        &:hover .most-clients__icon {
            fill: $second-color;
        }
        
        &:focus .most-clients__icon {
            fill: $second-color;
            @extend %fourth-transition;
        }
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        @include size (100%, 100%);
    }
    
    &__icon {
        @include size (106px, 60px);
        fill: $fourth-color;
        @extend %fourth-transition;
    
        &:hover svg {
            fill: $second-color;
        }
        
        &:focus svg {
            fill: $second-color;
            @extend %fourth-transition;
        }
    }
}

