.most-clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $main-color;
        margin-bottom: 50px;
    }
    
    &__list {
        display: flex;
        gap: 30px;
        text-align: center;
        justify-content: center;
    }
    
    &__item {
        width: 170px;
        height: 92px; 
        border: 1px solid $fourth-color;
        border-radius: 4px;
    
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            width: 170px;
            height: 92px; 
            border: 1px solid $second-color;
            border-radius: 4px;
        }
        
        &:focus .most-clients__link {
            width: 170px;
            height: 92px; 
            border: 1px solid $second-color;
            border-radius: 4px;
        
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .most-clients__icon {
            fill: $second-color;
        }
        
        &:focus .most-clients__icon {
            fill: $second-color;
        
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    
    &__icon {
        width: 106px;
        height: 60px; 
        fill: $fourth-color;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover svg {
            fill: $second-color;
        }
        
        &:focus svg {
            fill: $second-color;
        
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
}

