.team {
    @extend %team-position;
    background: $eighth-color;

    &__list {
        display: flex;
        column-gap: 30px;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include size(270px, 428px);
        @include BBB($fifth-color, 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px 4px);

        &-icons {
            position: relative;
            padding: 12px;
            @include size ();
            fill: $fourth-color; 
            background-color: $fifth-color;
            border-radius: 50%;
            @extend %third-transition;
        
            &:hover {
                background-color: $second-color;
            }

            &:hover .team__icon{
                fill: $fifth-color;
                background-color: $second-color;
            }
            
            &:hover .team__icon{
                fill: $fifth-color;
                background-color: $second-color;
            }
        }
    }
    
    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include text-color-styles($main-color, 700, 36px, 1.17);
    }
    
    &__photo {
        @extend %team-photo-position;
        @include size (270px, 260px);
    }
    
    &__name-title {
        text-align: center;
        margin-bottom: 10px;
        @include text-color-styles($main-color, 16px, 1.19);
    }
    
    &__profession {
        text-align: center;
        margin-bottom: 16px;
        @include text-color-styles($sixth-color, 400, 16px, 1.19);
    }
    
    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    &__icon {
        @include size(20px, 20px);
        fill: $fourth-color;
        background-color: $fifth-color;
        @extend %sixth-transition;

        &:hover {
            fill: $fifth-color;
            background-color: $second-color;
        }
        
        &:focus {
            fill: $fifth-color;
            background-color: $second-color;
        }
    }
}

