.team {
    @extend %team-position;
    background: $eighth-color;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include text-color-styles($main-color, 700, 28px, 1.17);

        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
    
    &__box1 {
        gap: 30px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 1200px) {
            margin: 0;
        }
    }

    &__box2 {
        gap: 30px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 1200px) {
            margin: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 9px;
        @include size(290px, 480px);
        @include BBB($fifth-color, $main-box-shadow, 0px 0px 4px 4px);

        @media screen and (min-width: 768px) {
            @include size(354px, 536px);
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            @include size(270px, 428px);
            
        }

        &-icons {
            position: relative;
            padding: 12px;
            @include size ();
            fill: $fourth-color; 
            background-color: $fifth-color;
            border-radius: 50%;
            @extend %third-transition;
        
            &:hover {
                background-color: $second-color;
            }

            &:hover .team__icon{
                fill: $fifth-color;
                background-color: $second-color;
            }
            
            &:hover .team__icon{
                fill: $fifth-color;
                background-color: $second-color;
            }
        }
    }
    
    &__photo {
        @extend %team-photo-position;
        @include size(290px, 310px);

        @media screen and (min-width: 480px) {
            @include size(450px, 320px);
        }

        @media screen and (min-width: 768px) {
            @include size(354px, 374px);
        }

        @media screen and (min-width: 1200px) {
            @include size(270px, 260px);
        }
    }
    
    &__name-title {
        text-align: center;
        margin-bottom: 10px;
        @include text-color-styles($main-color, 500, 16px, 1.19);
    }
    
    &__profession {
        text-align: center;
        margin-bottom: 16px;
        @include text-color-styles($sixth-color, 400, 16px, 1.19);
    }
    
    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    &__icon {
        @include size(20px, 20px);
        fill: $fourth-color;
        background-color: $fifth-color;
        @extend %sixth-transition;

        &:hover {
            fill: $fifth-color;
            background-color: $second-color;
        }
        
        &:focus {
            fill: $fifth-color;
            background-color: $second-color;
        }
    }
}

