.topic {  
    @extend %topic-position;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 418px;
    background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/mobile/1x/header-bg@1x.webp);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/mobile/2x/header-bg@2x.webp);
    }

    @media screen and (min-width: 768px) {
        height: 400px;
        background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/tablet/1x/header-bg@1x.webp);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/tablet/2x/header-bg@2x.webp);
        }
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
        padding-top: 200px;
        background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/desktop/1x/header-bg@1x.webp);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./images/desktop/2x/header-bg@2x.webp);
        }
    }

    &__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        @include text-color-styles($fifth-color, 900, 26px, 1.56);
        letter-spacing: 0.06em;
        text-transform: uppercase;                

        @media screen and (min-width: 480px) {
            width: 360px;
            line-height: 42px;               
        }

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            min-width: 696px;
            @include text-color-styles($fifth-color, 900, 44px, 1.36);
        }
    }
    
    &__button {
        @extend %topic-button-position;
        @include text-color-styles($fifth-color, 700, 16px, 1.14);
        letter-spacing: 0.06em;
        @include BBB($second-color, 0px 4px 4px rgba(0, 0, 0, 0.15), 4px);
        width: 200px;
        height: 50px;
        text-align: center;
        @extend %first-transition;

        @media screen and (min-width: 768px) {
            width: 216px;
        }

        &:hover {
            color: $second-color;
            background: $main-color;
        }
        
        &:focus {
            color: $second-color;
            background: $main-color;
            @extend %first-transition;
        }
    }
}

