.topic {  
    @extend %topic-position;
    height: 600px;
    background-image: radial-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/topic-background.jpg);

    &__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 696px;
        @include text-color-styles($fifth-color, 900, 44px, 1.36);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    
    &__button {
        @extend %topic-button-position;
        @include text-color-styles($fifth-color, 700, 16px, 1.14);
        letter-spacing: 0.06em;
        @include BBB($second-color, 0px 4px 4px rgba(0, 0, 0, 0.15), 4px);
        @extend %first-transition;
        width: 216px;
        height: 50px;

        &:hover {
            color: $second-color;
            background: $main-color;
        }
        
        &:focus {
            color: $second-color;
            background: $main-color;
            @extend %first-transition;
        }
    }
}

