.work {
    padding-bottom: 94px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $main-color;
        margin-bottom: 50px;
    }
    
    &__item {
        width: 370px;
        height: 294px;
        top: 1057px;

        &:first-child {
            margin-left: auto;
        }
        
        &:last-child {
            margin-right: auto;
        }
    }
    
    &__box {
        width: 370px;
        background: rgba(47, 48, 58, 0.80); 
        padding: 27px 27px;
        position: absolute;
        top: 1432px;
    }
    
    &__subtitle {
        color: $fifth-color;
        text-align: center;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase; 
    }
}

