.work {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    
    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include text-color-styles($main-color, 700, 36px, 1.17);
    }
    
    &__item {
        top: 1060px;
        @include size (370px, 294px);

        &:first-child {
            margin-left: auto;
        }
        
        &:last-child {
            margin-right: auto;
        }
    }
    
    &__box {
        @extend %work-box-position;
        width: 370px;
        background: rgba(47, 48, 58, 0.80); 
    }
    
    &__subtitle {
        text-align: center;
        @include text-color-styles($fifth-color, 700, 14px, normal);
        letter-spacing: 0.42px;
        text-transform: uppercase; 
    }
}

